*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: rgb(159, 223, 159);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.pause{
  margin: 32px 10px;
}

.slider{
  width: 600px;
  height: 400px;
  margin: 40px;
}

.slides{
  display: flex;
  border-radius: 10px;
  justify-content: baseline;
  flex-direction: row;
  overflow: hidden;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: visible;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(116, 98, 194);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(68, 37, 207);
}



button{
  background-color: rgb(68, 37, 207);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  height: 40px;
}

button:hover{
  background-color: rgb(116, 98, 194);
}
